.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
}

.c {
  flex-direction: column;
}

.fs {
  justify-content: flex-start;
}